[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pygments = "*"
django = "==1.11"
django-filter = "*"
djangorestframework-filters = "*"
factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.6"
