[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==1.11"
django-filter = "*"
factory-boy = "*"
requests = "*"
django-oauth-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.6"
