[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-filter = "*"
factory-boy = "*"
requests = "*"
django-oauth-toolkit = "*"
django = "*"
django-rest-swagger = "*"
django-cors-headers = "*"
"psycopg2" = "*"
django-rest-framework = "*"

[dev-packages]
black = "*"
rope = "*"

[requires]
python_version = "3.6"
